@{
    ViewBag.Title = "About";
}
<html>
<head>
    <style>
        body {
            background-image: url('../../images/CalmWater.jpg');
        }
    </style>


</head>

<body>
    <h2 style="">@ViewBag.Title</h2>
    <div class="container" style="background-color: beige">
        <ul>
            <li>
                Based on above facts, idea is to build a Non-Profit center/hub and Portal.
            </li>
            <li>
                Goal is to provide a common platform for the people where they can get the support of - 
                <ul>

                    <li> Equipment for the most advanced techniques of fishing</li>

                    <li> Support of GPS/GTS to get to know the areas of availability.</li>

                    <li>IT support in trading the fishes to national market and international market.</li>
                    <li> Keep track of each registered individual on fishing and trading activities. </li>

                    <li>ECommerce for fishing would help the business to reach farther distances</li>
                </ul>
            </li>
            <li>
                Business strategy is to build a portal, which can act as a platform between suppliers and consumers.
            </li>
            <li>
                Help center/hub which can help people in understanding the usage of advanced equipment
            </li>
            <li>
                <p>
                    Having filled supplier fishing requirement, consumer trading platform this portal/hub not only improves the fishing culture but also increases the rate of GDP.
                </p>
            </li>
        </ul>
    </div>
</body>
</html>
