
@{
    ViewBag.Title = "";
}
<style>
    body {
        background-image: url('../../images/CalmWater.jpg');
    }
</style>
<h2>Help</h2>
<div>
    @ViewBag.Message
</div>

<h3 style="color:brown"> For any queries contact xxxxxxxxxx !!</h3>