@{
    ViewBag.Title = "Home Page";
}

<body>
    <div class="container" style="display: flex; justify-content: center">
        <div class="center" style="width:800px; margin:0 auto;">
            <ul style="font-family: Calibri">
                <li>
                    Cape Verde also known by The Republic of Cabo Verde.
                </li>
                <li>
                    This is an island country comprised of 10 volcanic islands.
                </li>
                <li>
                    <ul>
                        <b> Country Profile -</b>
                        <li>
                            Cape Verde also known by The Republic of Cabo Verde.
                        </li>
                    </ul>
                    <ul>
                        <b>Economy –</b>
                        <li>
                            Agriculture is the primary source. Seas around these islands are rich with many types of fish.

                            80% are employed in agriculture of which 35% on fishing though contributing only 9% to GDP.

                        </li>
                    </ul>
                    <ul>

                        <b>Growth Options –</b>
                        <li>
                            Fishing can serve as a primary growing factor in overall GDP. Provided advanced fishing techniques and platform to trade.

                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        ICT Services –  Food & Agriculture sector
                        <li>
                            Fishery Distribution(Supply chain)

                            Fishery Information Service

                            ECommerce for Agriculture

                            Fishery Information through Satellites.
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</body>
@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@