
@{
    ViewBag.Title = "Trade";
}
<style>
    body {
        background-image: url('../../images/CalmWater.jpg');
    }
</style>
<div>
    <h2 style="text-align: center"> @ViewBag.Message</h2>
</div>
<div>
    <p>
        Cape Verde is the 191st largest export economy in the world. In 2016, Cape Verde exported $209M and imported $1.99B, resulting in a negative trade balance of $1.78B.

        The top exports of Cape Verde are Non-fillet Frozen Fish ($39M), Processed Fish ($35.8M), Non-Knit Men's Suits ($3.66M), Vacuum Cleaners ($3.58M) and Footwear Parts ($3.45M), using the 1992 revision of the HS (Harmonized System) classification. Its top imports are Refined Petroleum ($100M), Crude Petroleum ($98.3M), Cars ($21.6M), Cement ($20.3M) and Rice ($15.5M).

        The top export destinations of Cape Verde are Spain ($43.7M), Portugal ($11.6M), Turkey ($2.51M), Italy ($741k) and the United States ($674k). The top import origins are Portugal ($286M), Spain ($94.2M), China ($48.7M), France ($40.1M) and the Netherlands ($36.3M).

        Cape Verde is an island and borders the Gambia, Mauritania and Senegal by sea.
    </p>
</div>
